.wrapper {
    width: 100%;
}

.slider{
    background-image: url('./banner.jpg');
    height: 600px;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
    background-position: center;
}

.search{
    width: 700px;
    height: auto;
    margin: auto;
    background-color: rgb(0, 0, 0,0.2);
    border-radius: 34px;
}
.nav-search{
    display: flex;
    margin: 10px 10px;
    background-color: var(--white-color);
    border-radius: 34px;
  
}
.nav-search__icon{
    width: 20px;
    height: 20px;
    font-size: 1rem;
    margin-top: 8px;
    color: var(--primary-color);
}
.search__input-text{
    margin: 2px 4px;
    height: 36px;
    width: 50%;
    display: flex;
    font-size: 1rem;
    
}
.input__search{
    width: 100%;
    border: none;
    border-right: 1px solid #333;
}
.search__input-location{
    width: 40%;
    display: flex;

}
.search__select-location{
    width: 100%;
    border: none;
    font-size: 1rem;
    
}
.search__button{
    width: 10%;
}
.search__button button{
    background-color: var(--primary-color);
    width: 100%;
    border: none;
    height: 100%;
    padding: 12px 10px;
    overflow: hidden;
    cursor: pointer;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;

}

/* Modifier */

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.dec-none {
    text-decoration: none;
}

a.white {
    color: #fff;
}

a.black {
    color: #333;
}