.header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.header__icon {
line-height: 54px;
display: block;
margin-top: 10px;
margin-left: 20px;
}
.h1 {
font-size: 1rem;
margin: 1em 0;
}
.container__header-qmk {
text-align: end;
}
.header_left {
display: flex;
}
.header_name {
color: #1180df;
padding-top: 20px;
}

/* Form Login */ 
.container{
display: flex;
height: 100%;
width: 100%;
position: relative;
}
.form{
background: #FBFCFC;
position:absolute;
width: 510px;
height: auto;
margin: 17% 36%;
box-shadow: -2px -2px 18px -2px #000;
border-right: 5px solid var(--primary-color);
border-bottom: 6px solid var(--primary-color);
}
.form-container{
margin: 20px;
}
.container__header-logo{
text-align: center;
width: 44px;
height: 40px;
font-size: 1rem;
display: block;
margin: 0 auto;
margin-top: 20px;
}
.container__header-name{
margin: 20px;
text-align: center;
color:var(--primary-color);
font-size: 2rem;
font-weight: 600;
user-select: none;
}
.container__center-input {
    display: flex;
    padding-bottom: 30px;
    position: relative;
    width: 98%;
}
.icon-email {
    position: absolute;
    line-height: 33px;
    padding-left: 9px;
}
.icon-password {
    position: absolute;
    line-height: 33px;
    padding-left: 9px;
}
.icon-password-2 {
position: absolute;
line-height: 33px;
padding-left: 9px;
}
.container__footer{
text-align: center;
}
.container__footer-login {
/* margin-left: 111px; */
background: #5993EC;
border: 1px solid #000000;
box-sizing: border-box;
/* width: 200px; */
/* width: 445px; */
width: 456px;
font-size: 1rem;
color: white;
cursor: pointer;
font-weight: 700;
height: 40px;
}
.container__footer-login:hover {
color: rgba(255, 255, 255, 0.2);
}
.container__center-icon--email {
font-size: 1rem;
}
.container__center-input-boxname {
    width: 70%;
}
.container__center-input--email-one {
    padding: 0 0 0 6px;
    min-height: 30px;
    width: 85%;
}
.container__center-input--email-two {
    padding: 0 0 0 6px;
    min-height: 30px;
    width: 100%;
}
.container__center-input--email{
    padding-right: 0;
    padding-left: 30px;
    min-height: 30px;
    min-width: 455px;
}
.container__center-icon--password {
font-size: 1rem;
}
.container__center-input--password{
    min-height: 30px;
    min-width: 455px;
    padding-left: 30px;
}
.container__header-qmk:hover {
color: rgb(0 156 251);
}
.container__footer-link:hover {
color: rgb(0 156 251);
}
/* cùng 1 hàng */
.container__footer-footer{
display:flex;
/* cách ra 2 bên */
/* justify-content: space-between;
display: flex; */
justify-content: space-evenly;
flex-wrap: nowrap;
align-content: flex-end;
flex-direction: row;
}
.container__footer-question {
font-size: 1rem;
color: #8E8E8E;
user-select: none;
}
.container__footer-link {
font-size: 1rem;
color: #195fc5e0;
font-weight: bold;
line-height: 50px;
text-decoration: none;
user-select: none;
}
.container__footer-box {
box-shadow: 0px -1px 0px 0px #000;
}
.container__footer-box p {
font-size: 1rem;
font-weight: 700;
user-select: none;
}
.container__footer-box a {
color: #1180df;
text-decoration: none

}
.container__footer-box a:hover {
cursor: pointer;
color: rgba(62 135 177 / 50%);
}

html{
    line-height: 1rem;
    scroll-behavior:smooth;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --text-white-color:#fff;
    --icon-color:#FFE600;
    --text-color:#000;
    --white-color:#fff;
    --color-hover:rgb(255, 40, 40);
    --text-color-xam:rgb(119, 119, 119);
}
.icon-email {
    position: absolute;
    padding-left: 9px;
    width: 24px;
}
.icon-password {
    position: absolute;
    padding-left: 9px;
    width: 24px;
}
